body {
	overflow:hidden;
}
a {
	color: white;
}
a:focus, a:hover {
	color: red;
}
.wrap {
	height: 100%;
	margin: auto;
	display: flex;
}
#splash {
	display: flex;
	margin: auto;
}
.splash {
	margin: auto;
}
#splash > a > img {
	width: 250px;
	/*border-radius: 50%;
	border: 4px solid transparent;
	transition: border-color 1s ease;
	-webkit-animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.0;*/
}
.border {
	position: absolute;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 4px solid transparent;
	transition: border-color 2s ease;
	-webkit-animation: pulsate 2s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.0;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}
}
/*#splash > a > img:hover {
	border-color: black;
}*/
.border:hover{
	border-color: black;
}
.logo {
	width: 36px;
}

.is-dropdown-submenu {
	background: #656262;
}